{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="wrapper fadeInDown">
    <div id="formContentEdit">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="{{ url_for('static', filename='images/maestros.png') }}" height="150" width="150" align="middle" style="padding: 20px; opacity: 0.5" >
      </div>
      <!-- Edit Form -->
      {% if maestros %}
      <table class="table table-hover" style="text-align:justify">
        <thead>
          <tr>
            <th scope="col">Expediente</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Cubículo</th>
            <th scope="col">Correo</th>
            <th scope="col">Teléfono</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for maestro in maestros %}
          <tr>
            <td scope="col">{{ maestro.exp }}</td>
            <td scope="col">{{ maestro.nombres }}</td>
            <td scope="col">{{ maestro.apellidos }}</td>
            <td scope="col">{{ maestro.cubo }}</td>
            <td scope="col">{{ maestro.email }}</td>
            <td scope="col">{{ maestro.tel }}</td>
            <td scope="col"><p><a href="{{ url_for('editInfoMaestro', maestroID=maestro.exp)}}"><img src="{{ url_for('static', filename='images/editIcon.png') }}" height="21" width="21" style="opacity: 0.5"></a> </p></td>
            <td scope="col"><p><a href="{{ url_for('deleteInfoMaestro', maestroID=maestro.exp)}}"><img src="{{ url_for('static', filename='images/deleteIcon.png') }}" height="21" width="21" style="opacity: 0.5" ></a> </p></td>
            <!--data-toggle="modal" data-target="#deleteModal" -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Advertencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro de eliminar este registro?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Eliminar registro</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
