{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Búho Foro</h1>
  {% if name %}
  <p>¡Hola {{name}}!</p>
  {% else %}
  <p>No has iniciado sesión</p>
  {% endif %}
  {% for post in posts %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
      </div>
      <h2><a class="article-title" href="#">{{ post.titulo }}</a></h2>
      <p><a class="text-muted" href="#">{{ post.autor }} el {{ post.fecha }}</a></p>
      <p class="article-content">{{ post.contenido }}</p>
    </div>
  </article>
  {% endfor %}
</div>

{% endblock content %}
