{% extends "layout.html" %}
    {% block content %}
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />

      {% if results %}
        <div class="container" id="" style="z-index: 1; position: relative">
          <div class="wrapper fadeInDown">
            <div class="bg-light" id="formContent">
              <!-- Resultados-->
              <legend class="border-top mt-2"></legend>
              {% for result in results %}
                <div class="content-section">
                  <a>{{ result }}</a>
                  <button class="btn btn-light" type="button" onclick="verUbicacion(29.0822625, -110.9681118)">Ver</button>
                  <legend class="border-bottom mt-2"></legend>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      <div id="map-template"></div>

      <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/markers.js') }}"></script>
    {% endblock content %}
