{% extends "layout.html" %}
    {% block content %}
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />

      <div id="results"></div>

      <div id="map-template"></div>

      <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/markers.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
    {% endblock content %}
