<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  {% if title %}
  <title>OwlMap - {{title}}</title>
  {% else %}
  <title>OwlMap</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/owlmap1.ico') }}">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Main CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- Hoja de estilo para login -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">



</head>
<body>

  <div id="headerbar">
    <div class="container">

      <nav class="navbar navbar-light bg-light" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 0px 0px 10px 10px;">


        {% if title %}
        <div class="alignleft">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown">
                    <div class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="navbar-toggler-icon"></span></div>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/home">Volver al mapa</a>
                      <a class="dropdown-item" href="/displayPuntos">Ver información de lugares</a>
                      <a class="dropdown-item" href="/displayMaestros">Ver información de maestros</a>
                      <a class="dropdown-item" href="/addPunto">Agregar información de lugares</a>
                      <a class="dropdown-item" href="/addMaestro">Agregar información de maestros</a>
                      <a class="dropdown-item" href="#">.</a>
                      <a class="dropdown-item" href="#">.</a>
                      <a class="dropdown-item" href="#">.</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <img src="{{ url_for('static', filename='images/owlmapImagotipo.png') }}" height="50" width="150" align="middle">
          </nav>

        </div>
        <a href="/home" class="alignright">
        </a>
        {% else %}
        <div class="alignleft">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown">
                    <div class="nav-link" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="navbar-toggler-icon"></span></div>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/login">Iniciar sesión</a>
                      <a class="dropdown-item" href="/displayPuntos">Ver información de lugares</a>
                      <a class="dropdown-item" href="/displayMaestros">Ver información de maestros</a>
                      <a class="dropdown-item" href="/addPunto">Agregar información de lugares</a>
                      <a class="dropdown-item" href="/addMaestro">Agregar información de maestros</a>
                      <a class="dropdown-item" href="#">.</a>
                      <a class="dropdown-item" href="#">.</a>
                      <a class="dropdown-item" href="#">.</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <img src="{{ url_for('static', filename='images/owlmapImagotipo.png') }}" height="50" width="150" align="middle">
          </nav>
        </div>
        <div class="alighright">
          <form action="" method="POST">
            {{ form.hidden_tag() }}
            <input class="form-control" id="searchfield" name="searchfield" placeholder="¿Qué estás buscando?" required type="text" value="">
            <input class="" id="search" name="search" type="image" src="{{ url_for('static', filename='images/lupa.png') }}" height="21" width="21" style="opacity: 0.5; transform: scaleX(-1);" value="Buscar">
          </form>
        </div>
        {% endif %}

    </div>
  </div>
  <!-- Flashed Messages -->
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith%}
  </div>
  <!-- Contenido de Ruta -->
  {% block content %}{% endblock content %}


  <!-- JQuery JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
